.send__contact-message {
    position: fixed;    
    z-index: 15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); 
    display: none;
}
.send__contact {
    height: 169px;
    width: 472px;
    border-radius: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px;
    background-color: #FFF;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.send__contact-icon {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
}

.send__contact p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.send__contact button{
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}