.send__contact {
    height: 169px;
    width: 472px;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px;
    background-color: #FFF;
    box-sizing: border-box;
}

.send__contact-icon {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
}

.send__contact p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.send__contact button{
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}