.view_event {
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
}

.view_event-container {
    background-image: url(../../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1840px;
    height: 962px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.view_event-container-title {
    position: absolute;
    top: 65px;
    color: var(--white-color);
    left: 50%;
    transform: translateX(-50%);
    font-family:'iCiel Koni' ;
    font-weight: 900;
    font-size: 96px;
    margin: 0;
    margin-top: 40px;
}
.view_event-container--left-flag,
.view_event-container--right-flag,
.view_event-container-decor1,
.view_event-container-decor2{
    position: absolute;
}

.view_event-container--left-flag {
    left: -40px;
    top: 0;
    z-index: 2;
}

.view_event-container--right-flag {
    right: -40px;
    z-index: 2;
}

.view_event-container-decor1 {
    margin-left: 34px;
}

.view_event-container-decor2 {
    width: 1200px;
    right: 40px;
    bottom: 100px;
}

.view_event-component {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    width: 1508px;
    height: 500px;
    display: flex;
}

.view_event-container-button {
    width: 54px;
    height: 46px;
    background-color: #FFDE32;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px #FFBE5C;
    position: absolute;
    top: 50%;
    transform: translateY(30%);
}

.view_event-container-button--1 {
    left: 80px;
}

.view_event-container-button--2 {
    right: 80px;
}

.view_event-container-button-icon {
    width: 16px;
    height: 16px;
    color: white;
}

.view_event-container-button-icon--1 {
    rotate: -90deg;
}

.view_event-container-button-icon--2 {
    rotate: 90deg;
}
