.pay__fail {
    height: 262px;
    width: 472px;
    border-radius: 32px;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    background-color: white;
    
}

.pay__fail-header {
    height: 84px;
    background-color: #FF8B15;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    
}

.pay__fail-text {
    box-sizing: border-box;
    padding: 0px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.pay__fail-header-icon {
    position: absolute;
    top: -66px;
    left: 50%;
    transform: translateX(-50%);
    height: 132px;
    width: 132px;
}
