.view_contact {
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
}

.view_contact-container {
    background-image: url(../../assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1840px;
    height: 962px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.view_contact-container-title {
    position: absolute;
    top: 65px;
    color: var(--white-color);
    left: 50%;
    transform: translateX(-50%);
    font-family:'iCiel Koni' ;
    font-weight: 900;
    font-size: 96px;
    margin: 0;
}

.view_contact-container-img {
    position: absolute;
    left: -68px ;
    bottom: 139px;
    z-index: 2;
}

.view_contact-container-info {
    position: absolute;
    bottom: 141px;
    right: 80px;
}

.contact {
    position: absolute;
    left: 218px;
    bottom: 141px;
    
}

.contact__info {
    margin-top: 32px;
}